@charset "utf-8";

/* web */

/* 1200px */
@media screen and (min-width:1200px){
  /* header */
  #header{
    width : 1200px;
  }

  /* About Me */
  div#main{
    width : 1200px;
  }

}

/* tablet */

@media screen and (max-width:980px) and (min-width:800px){
  
  article#about>section>h4{
    margin-bottom : 50px;
  }

  article#about>section>figure{
    display: block;
    text-align: center;
    width : 700px;
    margin : 0 auto;
    /* background-color: green; */
  }

  article#about>section>figure>img{
    margin-bottom : 50px;
    width : 50%;
  }

  article#about>section>figure>figcaption{
    margin : 0 auto;
    width : 700px;
  }

  article#about>section>figure>figcaption>dl>dd:nth-child(4){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width : 250px;
    margin : 0 auto;
    /* background-color: pink; */
  }

  article#about>section>figure>figcaption>dl>dd:nth-child(4)>img{
    margin-bottom : 20px;
  }

  article#about>section>figure>figcaption>dl>dd:not(:last-child){
    font-size : 25px;
    line-height: 35px;
    margin-bottom : 20px;
  }

  
#project>section>div{
  height : 1150px;

}



}

@media screen and (max-width:800px) and (min-width:580px){

  article#about>section>h4{
    margin-bottom : 50px;
  }

  article#about>section>figure{
    display: block;
    text-align: center;
    width : 100%;
    margin : 0 auto;
    /* background-color: green; */
  }

  article#about>section>figure>img{
    margin-bottom : 50px;
    width : 50%;
  }

  article#about>section>figure>figcaption{
    margin : 0 auto;
    width : 100%;
  }

  article#about>section>figure>figcaption>dl>dd:nth-child(4){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width : 250px;
    margin : 0 auto;
    /* background-color: pink; */
  }

  article#about>section>figure>figcaption>dl>dd:nth-child(4)>img{
    margin-bottom : 20px;
  }

  article#about>section>figure>figcaption>dl>dd:not(:last-child){
    font-size : 25px;
    line-height: 35px;
    margin-bottom : 20px;
  }

  #project>section{
    padding : 30px 10px;
    display: block;
  }

  #project>section>div{
    width : 80%;
    height : 100%;
    margin : 0 auto 35px;
    padding : 40px 20px;
  }

  #project>section>div>h4{
    margin-bottom : 40px;   
  }

  #project>section>div>figure>a{
    display: block;
    text-align: center;
  }

  #project>section>div>figure>a>img{
    width : 60%;
  }
  

}

/* mobile */

@media screen and (max-width:580px){
  header{
    margin-bottom : 30px;
    position: fixed;
    width:100%;
  }

  #header{
    display: block;
    text-align: center;
  }

  #header>p{
    display: block;
  }

  #header>nav>ul.menu{
    display: none;
  }

  #header>nav>ul.menuMobile{
    display: block;
  }

  div#main{
    padding-top : 80px;
  }
  article#about>section>figure{
    display: block;
    text-align: center;
    width : 100%;
    margin : 0 auto;
  }

  article#about>section>figure>img{
    margin-bottom : 50px;
    width : 50%;
  }

  article#about>section>figure>figcaption{
    margin : 0 auto;
    width : 100%;
  }

  article#about>section>figure>figcaption>dl>dd:nth-child(4){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width : 250px;
    margin : 0 auto;
    /* background-color: pink; */
  }

  article#about>section>figure>figcaption>dl>dd:nth-child(4)>img{
    margin-bottom : 20px;
  }

  article#about>section>figure>figcaption>dl>dd:not(:last-child){
    font-size : 25px;
    line-height: 35px;
    margin-bottom : 20px;
  }

  #project>section{
    padding : 30px 10px;
    display: block;
  }

  #project>section>div{
    width : 80%;
    height : 100%;
    margin : 0 auto 35px;
    padding : 40px 20px 20px 20px;
  }

  #project>section>div>h4{
    margin-bottom : 40px;   
  }

  #project>section>div>figure>a{
    display: block;
    text-align: center;
  }

  #project>section>div>figure>a>img{
    width : 70%;
  }



  aside{
    display: none;
  }
  
  article{
    padding-bottom : 0;
  }
}
